.container {
	width: 100%;
	min-height: 100%;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, minmax(min-content, 1fr));
	gap: 16px;
	padding: 8px;

	grid-template-areas:
		"sidebar feature feature small_1 small_2"
		"sidebar feature feature tall_1 small_3"
		"bio bio small_4 tall_1 small_5";

	@media screen and (max-width: 1450px) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, minmax(min-content, 1fr));
		grid-template-areas:
			"sidebar feature feature small_1"
			"sidebar feature feature tall_1"
			"small_2 small_3 small_4 tall_1"
			"bio bio bio small_5";
	}

	@media screen and (max-width: 1225px) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, minmax(min-content, 1fr));
		grid-template-areas:
			"feature feature small_1"
			"feature feature tall_1"
			"sidebar small_2 tall_1"
			"sidebar small_3 small_4"
			"bio bio small_5";
	}

	@media screen and (max-width: 950px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(8, minmax(min-content, 1fr));
		grid-template-areas:
			"feature feature"
			"feature feature"
			"small_1 tall_1"
			"small_2 tall_1"
			"small_3 tall_1"
			"sidebar small_4"
			"sidebar small_5"
			"bio bio";
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(11, minmax(min-content, 1fr));
		grid-template-areas:
			"feature"
			"feature"
			"small_1"
			"small_2"
			"tall_1"
			"tall_1"
			"small_3"
			"small_4"
			"small_5"
			"sidebar"
			"bio";
	}
}

.bio {
	grid-area: bio;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.feature,
.small_1,
.small_2,
.small_3,
.small_4,
.small_5,
.tall_1 {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

.feature {
	grid-area: feature;
}
.small_1 {
	grid-area: small_1;
}
.small_2 {
	grid-area: small_2;
}
.small_3 {
	grid-area: small_3;
}
.small_4 {
	grid-area: small_4;
}
.small_5 {
	grid-area: small_5;
}
.tall_1 {
	grid-area: tall_1;
}
