.list {
	width: 100%;
	max-width: var(--size-maxcontent);
	margin: var(--size-reg) auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.item {
	width: calc(100% / 3);
	padding: var(--size-xxsm);
	@media screen and (max-width: 790px) {
		flex-basis: 100%;
		width: 100%;
	}
}
