.container {
	position: relative;

	padding: var(--size-reg);
	border-radius: var(--radius-reg);
	background-color: var(--color-background-surface);

	display: flex;
	flex-direction: column;
	gap: var(--size-xsm);

	margin: var(--size-reg);
}

.title,
.subtitle,
.date {
	color: var(--theme-mask-foreground);
}

.title,
.subtitle {
	margin: 0;
	width: 100%;
	transition: color 0.12s var(--transition);
}

.title {
	font-size: var(--font-size-lg);
	font-weight: var(--font-medium);
	line-height: 1.15em;
}
.subtitle {
	opacity: 0.8;
}

.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--size-xsm);
}
.tag {
	color: var(--theme-text);
}

.date {
	font-size: var(--font-size-sm);
	font-weight: var(--font-medium);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	opacity: 0.66;
}

.label {
	font-size: var(--font-size-sm);
	font-weight: var(--font-medium);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	width: max-content;
}
