@use "../../../../../styles/mixins" as *;
@use "../global-menu-list/styles.module.scss" as menu;

.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	gap: var(--space-tiny);

	padding: var(--space-medium);
	text-transform: uppercase;
	font-weight: var(--font-weight-medium);

	span {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}
}

.base-link {
	color: var(--fg-alt);
	text-decoration: none;
	border-radius: var(--radius-large);

	cursor: crosshair;
	&[href] {
		cursor: pointer;
	}

	&[href],
	&[data-type="button"] {
		&:hover,
		&[data-state="active"] {
			text-decoration: none;
			color: var(--brand-fg);
			background-color: var(--brand-bg);
		}
	}
	&[data-state="active"] {
		@include ThemeYellow;
	}
}

.link {
	@extend .base-link;
	display: inline-block;

	p {
		@extend .label;
		font-size: var(--font-size-tiny);
		color: inherit;
	}
}

.toggle {
	display: none;
	appearance: none;
	background: transparent;
	outline: none;
	border: none;

	@extend .label;
	@extend .base-link;

	cursor: pointer;

	transition: transform 0.24s var(--transition);

	align-self: center;

	@media screen and (max-width: menu.$mobile-breakpoint) {
		display: flex;
	}
}
