.container {
	position: relative;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;

	border-radius: var(--radius-lg);
	padding: var(--size-reg);
	overflow: hidden;

	text-decoration: none;

	&:hover {
		.title {
			transform: translateY(calc(var(--size-sm) * -1));
		}
		.thumb {
			transform: scale(1.2);
		}
	}

	@media screen and (max-width: 790px) {
		flex-basis: 100%;
		width: 100%;
	}
}

.thumb {
	position: absolute;
	z-index: 1;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	object-fit: cover;
	transition: transform 0.12s var(--transition);
}

.title {
	z-index: 1;
	box-shadow: var(--level-2);
	transition: transform 0.12s var(--transition);
}
