.container {
	width: 100%;
	max-width: var(--size-maxcontent);
	margin: 0 auto;
	gap: var(--size-reg);

	display: grid;
	grid-template-columns: 1fr 320px;
	grid-template-areas: "content sidebar";
}

.content,
.sidebar {
	width: 100%;
}

.content {
	grid-area: content;
}

.sidebar {
	grid-area: sidebar;
}
