.container {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 0 var(--layout-gutter);

	// @media screen and (max-width: 1400px) {}
	// @media screen and (max-width: 960px) {}
}

.image,
.content {
	border-radius: var(--radius-lg);
	overflow: hidden;
}

.image {
}

.content {
	--layout-content-padding-y: var(--size-xxlg);
	--layout-content-padding-x: var(--size-xxxlg);
	position: relative;
	z-index: 5;
	grid-area: main;

	width: 100%;
	min-height: 100%;
	max-width: var(--size-maxcontent);

	background-color: var(--color-background-surface);
	border-radius: var(--radius-lg);

	padding: var(--layout-content-padding-y) var(--layout-content-padding-x);

	&.offset {
		margin-top: calc(var(--layout-content-padding-y) * -2);
	}
}
