.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius-large);
	overflow: hidden;
}

.outer {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.inner {
	position: absolute;
	width: 100%;
	height: 100%;

	border-radius: var(--radius-large);
}
