ul.list {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	gap: var(--size-xxsm);

	padding: var(--size-lg) 0;
	min-height: 50vh;
	height: auto;

	li.item {
		flex-grow: 1;
		flex-shrink: 2;
		list-style: none;
		margin: 0;
		flex-basis: calc(100% / 10);
		transition: all 0.32s var(--transition);
		&:hover {
			flex-grow: 4;
			flex-shrink: 0;
		}
	}
}

img.thumb {
	width: 100%;
	height: 100%;
	border-radius: var(--radius-lg);
	//object-fit: cover;
	height: auto;
}
