.container {
	position: relative;
	z-index: 20;

	display: flex;
	flex-direction: column;
	margin-bottom: var(--size-xlg);
	gap: var(--size-lg);
}

.metadata {
	order: 1;
}

.title {
	order: 2;
	font-size: var(--font-size-xxlg);
	font-weight: var(--font-medium);
	line-height: 1em;
	color: var(--color-foreground-title);
	margin: var(--size-reg) 0;
}

.author {
	order: 3;
	font-size: var(--font-size-reg);
	font-weight: var(--font-reg);
	line-height: 1em;
	color: var(--color-foreground-title);
	a {
		text-decoration: none;
		color: var(--color-primary-text);
	}
}
