.container {
	width: 100%;
	min-height: 100%;
	text-decoration: none;

	display: flex;
	flex-direction: column-reverse;
	align-items: stretch;
	justify-content: center;

	// transition: 0.08s box-shadow ease;
	// transition: background-color 0.12s var(--transition);
	&:hover {
		text-decoration: none;
		color: var(--brand-fg);

		.articles > li {
			&:nth-child(1) {
				transform: scale(0.7) rotateX(20deg) translateY(-6rem);
			}
			&:nth-child(2) {
				transform: scale(0.8) rotateX(15deg) translateY(-3rem);
			}
			&:nth-child(3) {
				transform: scale(0.9) rotateX(10deg) translateY(-1rem);
			}
			&:nth-child(4) {
				transform: scale(1) rotateX(5deg);
			}
		}
	}
}

.title {
	order: 2;
}
.articles {
	flex-grow: 1;

	position: relative;
	z-index: 0;

	display: flex;
	flex-direction: column;
	padding: 0 var(--space-small);
	gap: var(--space-tiny);
	perspective: 500px;

	margin: calc(var(--space-medium) * -1) 0;

	> li {
		width: 100%;
		height: auto;
		transition: transform 0.4s var(--transition);
		&:nth-child(1) {
			transform: scale(0.6) rotateX(40deg);
			margin-bottom: -6rem;
			transition-delay: 0.3s;
		}
		&:nth-child(2) {
			transform: scale(0.7) rotateX(30deg);
			margin-bottom: -4.5rem;
			transition-delay: 0.2s;
		}
		&:nth-child(3) {
			transform: scale(0.8) rotateX(20deg);
			margin-bottom: -3rem;
			transition-delay: 0.1s;
		}
		&:nth-child(4) {
			transform: scale(0.9) rotateX(10deg);
		}
	}
}

.title {
	z-index: 1;
	transition: transform 0.12s var(--transition);
}
