@import "./_reset.scss";
@import "./normalize.scss";

:root {
	/* Primative Colors */

	--color-yellow-base: hsla(45, 100%, 65%, 1);
	--color-yellow-text: hsla(45, 100%, 40%, 1);
	--color-yellow-mask-background: hsla(45, 100%, 65%, 0.35);
	--color-yellow-mask-foreground: hsla(45, 100%, 30%, 1);

	--color-blue-base: hsla(200, 75%, 25%, 1);
	--color-blue-text: hsla(200, 100%, 40%, 1);
	--color-blue-mask-background: hsla(200, 100%, 30%, 0.25);
	--color-blue-mask-foreground: hsla(200, 100%, 25%, 1);

	--color-green-base: hsla(175, 60%, 65%, 1);
	--color-green-text: hsla(175, 80%, 40%, 1);
	--color-green-mask-background: hsla(175, 60%, 65%, 0.3);
	--color-green-mask-foreground: hsla(175, 60%, 30%, 1);

	--color-mono-base: hsla(190, 20%, 65%, 1);
	--color-mono-text: hsla(190, 15%, 50%, 1);
	--color-mono-mask-background: hsla(190, 20%, 15%, 0.15);
	--color-mono-mask-foreground: hsla(190, 15%, 30%, 1);

	--color-background-surface: hsla(190, 0%, 100%, 1);
	--color-background-base: hsla(190, 20%, 90%, 1);
	--color-background-detail: hsla(190, 25%, 85%, 1);

	--color-foreground-detail: hsla(200, 15%, 50%, 1);
	--color-foreground-content: hsla(200, 15%, 30%, 1);
	--color-foreground-title: hsla(200, 15%, 10%, 1);

	/* Theme Colors */

	--color-primary-base: var(--color-blue-base);
	--color-primary-text: var(--color-blue-text);
	--color-primary-mask-background: var(--color-blue-mask-background);
	--color-primary-mask-foreground: var(--color-blue-mask-foreground);

	--color-secondary-base: var(--color-green-base);
	--color-secondary-text: var(--color-green-text);
	--color-secondary-mask-background: var(--color-green-mask-background);
	--color-secondary-mask-foreground: var(--color-green-mask-foreground);

	--color-accent-base: var(--color-yellow-base);
	--color-accent-text: var(--color-yellow-text);
	--color-accent-mask-background: var(--color-yellow-mask-background);
	--color-accent-mask-foreground: var(--color-yellow-mask-foreground);

	--theme-base: var(--color-foreground-content);
	--theme-text: var(--color-foreground-title);
	--theme-mask-background: transparent;
	--theme-mask-foreground: var(--color-foreground-detail);

	/* Gradients */

	--gradient-mask-light: linear-gradient(
		237.6deg,
		var(--color-background-surface) 0%,
		transparent 66.6%
	);
	--gradient-mask-header: linear-gradient(
		88deg,
		var(--color-background-surface) -25%,
		var(--color-primary-mask-background) 80%
	);

	/* Sizes */
	--size-xxsm: 0.4rem;
	--size-xsm: 0.8rem;
	--size-sm: 1.2rem;
	--size-reg: 2rem;
	--size-lg: 3.2rem;
	--size-xlg: 4rem;
	--size-xxlg: 6rem;
	--size-xxxlg: 8rem;
	--size-xxxxlg: 16rem;
	--size-maxcontent: 1040px;
	--layout-gap: 1.6rem;
	--layout-gutter: calc(var(--layout-gap) * 2);

	--radius-sm: 4px;
	--radius-reg: 8px;
	--radius-lg: 18px;
	--radius-full: 4000px;

	/* Font */
	--font-primary: "Sen";

	--font-size-xxxlg: 8.8rem;
	--font-size-xxlg: 5.6rem;
	--font-size-xlg: 3.2rem;
	--font-size-lg: 2.4rem;
	--font-size-reg: 2rem;
	--font-size-sm: 1.6rem;
	--font-size-xsm: 1.2rem;

	--font-thin: 400;
	--font-reg: 400;
	--font-medium: 700;
	--font-bold: 800;

	/* Misc */

	--transition: cubic-bezier(0, 0.5, 0, 0.95); //cubic-bezier(0, 0.9, 0.3, 1);

	--level-1: 0px 0px 1px rgba(109, 138, 146, 0.2), 0px 0px 2px rgba(36, 59, 66, 0.15),
		0px 2px 8px rgba(76, 213, 255, 0.15);
	--level-2: 0px 1px 2px rgba(109, 138, 146, 0.1), 0px 4px 6px rgba(36, 59, 66, 0.1),
		0px 6px 20px rgba(76, 213, 255, 0.2);
	--level-3: 0px 4px 6px rgba(109, 138, 146, 0.1), 0px 8px 8px rgba(36, 59, 66, 0.05),
		0px 10px 20px rgba(76, 213, 255, 0.2);
}

html,
body {
	min-height: 100vh;
}
body,
#__next,
#__next > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	flex-grow: 1;
}

html {
	font-size: 56.25%;
	font-feature-settings: "tnum" on, "lnum" on, "zero" on, "case" on;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-primary), sans-serif;
	font-weight: var(--font-reg);
	font-size: var(--font-size-reg);
	line-height: 1em;
	color: var(--color-foreground-content);
	background-color: var(--color-background-base);
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

mark {
	color: var(--color-primary-mask-foreground);
	background-color: var(--color-primary-mask-background);
}

.theme-green {
	--theme-base: var(--color-green-base);
	--theme-text: var(--color-green-text);
	--theme-mask-background: var(--color-green-mask-background);
	--theme-mask-foreground: var(--color-green-mask-foreground);
}
.theme-blue {
	--theme-base: var(--color-blue-base);
	--theme-text: var(--color-blue-text);
	--theme-mask-background: var(--color-blue-mask-background);
	--theme-mask-foreground: var(--color-blue-mask-foreground);
}
.theme-yellow {
	--theme-base: var(--color-yellow-base);
	--theme-text: var(--color-yellow-text);
	--theme-mask-background: var(--color-yellow-mask-background);
	--theme-mask-foreground: var(--color-yellow-mask-foreground);
}
.theme-default {
	--theme-base: var(--color-mono-base);
	--theme-text: var(--color-mono-text);
	--theme-mask-background: var(--color-mono-mask-background);
	--theme-mask-foreground: var(--color-mono-mask-foreground);
}
.theme-none {
	--theme-base: var(--color-foreground-content);
	--theme-text: var(--color-foreground-title);
	--theme-mask-background: transparent;
	--theme-mask-foreground: var(--color-foreground-detail);
}
