.container {
	display: flex;
	flex-direction: column;
}

.header {
	padding: var(--size-sm) 0;
}

.title {
	font-size: var(--font-size-lg);
	color: var(--color-foreground-title);
	line-height: 1em;
}

ul.list {
	--space: calc(var(--size-xsm) / 2);
	--space-offset: calc(var(--size-xsm) * -1);
	display: flex;
	flex-direction: row;
	align-items: center;
	//gap: var(--size-xsm);
	flex-wrap: wrap;
	margin-left: var(--space-offset);
	margin-right: var(--space-offset);
	margin: 0;

	li.item {
		padding: var(--space);
		list-style: none;
		margin: 0;
		p {
			margin: 0;
			font-size: var(--font-size-xsm);
		}
	}
}
