.list {
	--column-gap: var(--space-small);
	--column-count: 3;

	--column-use-gap-width: calc(var(--column-count) - 1) * var(--column-gap);
	--column-use-total-width: calc(100% - var(--column-use-gap-width));

	--column-width: calc(var(--column-use-total-width) / var(--column-count));
	width: 100%;

	align-items: stretch;
	justify-content: space-between;

	display: grid;
	gap: var(--column-gap);
	grid-template-columns: repeat(var(--column-count), var(--column-width));
	grid-auto-flow: dense;

	&.one {
		--column-width: 100%;
	}

	&.two {
		--column-count: 2;
	}

	&.three {
		--column-count: 3;
	}

	&.four {
		--column-count: 4;
	}

	@media screen and (max-width: 1060px) {
		&.four {
			--column-count: 3;
		}
	}

	@media screen and (max-width: 960px) {
		--column-count: 2;
		&.three,
		&.four {
			--column-count: 2;
		}
	}

	@media screen and (max-width: 680px) {
		--column-width: 100%;
		&.two,
		&.three,
		&.four {
			--column-width: 100%;
		}
	}
}

.item {
	width: 100%;
	@media screen and (max-width: 790px) {
		flex-basis: 100%;
		width: 100%;
	}
}
