.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--size-reg);
	padding: var(--size-lg) var(--size-reg);

	.title {
		font-weight: var(--font-bold);
		color: var(--color-foreground-title);
	}

	.button {
		a {
			font-size: var(--font-size-sm);
			line-height: 1em;
			padding: 0.8em 1.2em;
			border-radius: var(--radius-reg);

			background-color: var(--color-primary-text);
			color: white;

			&:hover {
				background-color: var(--color-primary-mask-background);
				color: var(--color-primary-mask-foreground);
			}
		}
	}
}
