$themes: (
	yellow: (
		fg: hsl(45, 20%, 5%),
		bg: hsl(45, 50%, 100%),
		fg-alt: hsl(45, 10%, 30%),
		bg-alt: hsl(45, 30%, 90%),
		brand-fg: hsl(45, 100%, 20%),
		brand-bg: hsl(45, 100%, 95%),
		brand-fg-alt: hsl(45, 100%, 8%),
		brand-bg-alt: hsl(45, 100%, 60%),
	),
	blue: (
		fg: "hsl(210, 20%, 5%)",
		bg: "hsl(210, 50%, 100%)",
		fg-alt: "hsl(210, 20%, 30%)",
		bg-alt: "hsl(210, 30%, 92%)",
		brand-fg: "hsl(210, 70%, 20%)",
		brand-bg: "hsl(210, 100%, 95%)",
		brand-fg-alt: "hsl(210, 90%, 10%)",
		brand-bg-alt: "hsl(210, 90%, 55%)",
	),
	green: (
		fg: "hsl(175, 20%, 5%)",
		bg: "hsl(175, 50%, 100%)",
		fg-alt: "hsl(175, 10%, 30%)",
		bg-alt: "hsl(175, 30%, 90%)",
		brand-fg: "hsl(175, 100%, 15%)",
		brand-bg: "hsl(175, 100%, 95%)",
		brand-fg-alt: "hsl(175, 100%, 5%)",
		brand-bg-alt: "hsl(175, 100%, 50%)",
	),
);
