$themes: (
	yellow: (
		// Titles
		fg: hsl(45, 30%, 5%),
		bg: hsl(45, 50%, 100%),
		//Content
		fg-alt: hsl(45, 15%, 30%),
		bg-alt: hsl(45, 50%, 90%),
		// Highlight Text
		brand-fg: hsl(45, 100%, 20%),
		brand-bg: hsl(45, 100%, 85%),
		// Buttons
		brand-fg-alt: hsl(45, 100%, 8%),
		brand-bg-alt: hsl(45, 100%, 60%),
	),
	blue: (
		// Titles
		fg: "hsl(210, 40%, 5%)",
		bg: "hsl(210, 50%, 100%)",
		//Content
		fg-alt: "hsl(210, 25%, 30%)",
		bg-alt: "hsl(210, 80%, 92%)",
		// Highlight Text
		brand-fg: "hsl(210, 80%, 20%)",
		brand-bg: "hsl(210, 80%, 85%)",
		// Buttons
		brand-fg-alt: "hsl(210, 80%, 95%)",
		brand-bg-alt: "hsl(210, 80%, 25%)",
	),
	green: (
		// Titles
		fg: "hsl(170, 20%, 5%)",
		bg: "hsl(170, 50%, 100%)",
		//Content
		fg-alt: "hsl(170, 15%, 30%)",
		bg-alt: "hsl(170, 50%, 90%)",
		// Highlight Text
		brand-fg: "hsl(170, 100%, 15%)",
		brand-bg: "hsl(170, 100%, 85%)",
		// Buttons
		brand-fg-alt: "hsl(170, 100%, 5%)",
		brand-bg-alt: "hsl(170, 90%, 50%)",
	),
);
