.container {
	display: block;

	padding: var(--size-reg);
	box-shadow: var(--level-2);
	background-color: var(--color-background-surface);
	border-radius: var(--radius-reg);
}

.title,
.avatar {
	display: inline;
}

.avatar {
	margin: 0 var(--size-sm) var(--size-sm) 0;
	float: left;
	border-radius: 37.5%;
}

.title {
	font-size: var(--font-size-reg);
	font-weight: var(--font-medium);
	line-height: 1.2em;
	color: var(--color-foreground-title);
}

.subtitle {
	font-size: var(--font-size-reg);
	font-weight: var(--font-reg);
	line-height: 1.3em;
	color: var(--color-foreground-content);

	display: inline-block;
	margin-top: var(--size-sm);
}
