.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--size-reg);
	img {
		margin-right: var(--size-reg);
		border-radius: 100%;
	}
}

.title,
.subtitle {
	margin: var(--size-sm) 0;
}

.title {
	font-size: var(--font-size-lg);
	color: var(--color-foreground-title);
}
