.list {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;

	display: grid;
	gap: var(--size-xsm);
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;

	&.two {
		grid-template-columns: repeat(2, 1fr);
	}

	&.three {
		grid-template-columns: repeat(3, 1fr);
	}

	&.four {
		grid-template-columns: repeat(4, 1fr);
	}

	@media screen and (max-width: 1060px) {
		grid-template-columns: repeat(3, 1fr);
		&.four {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media screen and (max-width: 960px) {
		grid-template-columns: repeat(2, 1fr);
		&.three,
		&.four {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 680px) {
		&.two,
		&.three,
		&.four {
			grid-template-columns: 1fr;
		}
	}
}

.item {
	width: 100%;
	@media screen and (max-width: 790px) {
		flex-basis: 100%;
		width: 100%;
	}
}
