.container {
	--radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: var(--bg);
	border-radius: var(--radius);
	width: 100%;
}

.image {
	border-radius: var(--radius);
	width: 100%;
	height: auto;
}

.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: var(--space-small) var(--space-small);
}

.title {
	font-size: var(--font-size-small);
	color: var(--fg-alt);
	flex-grow: 1;
	font-weight: var(--font-weight-base);
	margin: 0 var(--space-small);
	text-transform: uppercase;
}

.button {
	border-radius: 4px;
	background-color: #0088cc;
	color: white;
	text-transform: uppercase;
	font-size: var(--font-size-tiny);
	text-decoration: none;
	padding: 0.5em 0.65em;
	font-weight: var(--font-weight-medium);
	letter-spacing: 0.12em;
}
