.container {
	--radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	background-color: var(--color-background-surface);
	border-radius: var(--radius);
	width: 100%;
}

.image {
	border-radius: var(--radius);
	width: 100%;
	height: auto;
}

.details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: var(--size-xsm) var(--size-sm);
}

.title {
	font-size: var(--font-size-sm);
	color: var(--color-foreground-content);
	flex-grow: 1;
	font-weight: var(--font-reg);
	margin: 0 var(--size-xsm);
	text-transform: uppercase;
}

.button {
	border-radius: 4px;
	background-color: #0088cc;
	color: white;
	text-transform: uppercase;
	font-size: var(--font-size-xsm);
	text-decoration: none;
	padding: 0.5em 0.65em;
	font-weight: var(--font-medium);
	letter-spacing: 0.12em;
}
