.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--size-sm);
	padding: var(--size-lg) var(--size-reg);

	background-color: var(--color-background-surface);
	box-shadow: var(--level-1);
	border-radius: var(--radius-reg);
	transition: 0.08s box-shadow ease;
	.title,
	.subtitle {
		margin: 0;
	}
	.title {
		color: var(--color-foreground-title);
		font-weight: var(--font-bold);
	}
	.subtitle {
		color: var(--color-foreground-detail);
	}

	.thumb {
		display: flex;
		align-items: center;
		justify-content: center;
		order: 2;
		border-radius: var(--radius-reg);
		overflow: hidden;
		border: 2px solid transparent;
		padding: 2px;
		img {
			border-radius: var(--radius-reg);
		}
	}
	.header {
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.price {
		order: 3;
		color: var(--color-foreground-content);
		font-size: var(--font-size-lg);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		span {
			font-size: 0.85em;
			color: var(--theme-text);
		}
	}
}
a.container:hover {
	background-color: var(--color-background-surface);
	box-shadow: var(--level-3);
	text-decoration: none;
	.thumb {
		border-color: var(--color-primary-base);
	}
}
