.container {
	border-radius: var(--radius-tiny);
	padding: var(--space-medium);
	.title {
		color: var(--brand-fg);
	}
	ol,
	ul {
		li {
			&::marker {
				color: var(--brand-fg);
			}
		}
	}

	a {
		color: var(--brand-fg);
		&:hover {
			color: var(--brand-fg);
			background-color: var(--brand-bg);
		}
	}
}

.fill {
	background-color: var(--brand-bg);
}

.outline {
	border: 4px solid var(--brand-bg-alt);
}
