.container {
	border-radius: var(--radius-reg);
	padding: var(--size-reg);
	.title {
		color: var(--theme-mask-foreground);
	}
	ol,
	ul {
		li {
			&::marker {
				color: var(--theme-mask-foreground);
			}
		}
	}

	a {
		color: var(--theme-text);
		&:hover {
			color: var(--theme-mask-foreground);
			background-color: var(--theme-mask-background);
		}
	}
}

.fill {
	background-color: var(--theme-mask-background);
}

.outline {
	border: 4px solid var(--theme-base);
}
