.container {
	position: sticky;
	z-index: 900;
	top: 0;
	width: 100%;
	padding: var(--layout-gutter);

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--size-lg) / 2);

	// @media screen and (max-width: 1400px) {}
	// @media screen and (max-width: 960px) {}
}
