.container {
	--card-radius: var(--radius-large);
	position: relative;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;

	border-radius: var(--card-radius);
	overflow: visible;

	text-decoration: none;

	&:hover {
		text-decoration: none;
		.details {
			color: var(--brand-fg);
			transform: translateY(0);
		}
		.image {
			transform: scale(1.2);
		}
	}

	@media screen and (max-width: 790px) {
		//flex-basis: 100%;
	}
}

.thumb {
	position: relative;
	z-index: 1;
	width: 100%;
	height: auto;
	flex-grow: 1;
	min-height: 240px;

	border-radius: var(--card-radius);
	overflow: hidden;
	.image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.8s var(--transition);
	}
}

.details {
	color: var(--fg);
	z-index: 1;
	transition: transform 0.2s var(--transition);
	transform: translateY(calc(var(--space-tiny) * -2));

	position: relative;
	padding: 0 var(--space-small);
	margin-top: calc(var(--space-tiny) * -1);
}
