.list {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 100%;
	flex-wrap: wrap;

	background-color: var(--color-background-surface);
	border-radius: var(--radius-lg);
	box-shadow: var(--level-2);
}

.item {
	position: relative;
	height: 100%;
}
