.container {
	--color: var(--color-foreground-detail);
	position: fixed;
	bottom: var(--size-sm);
	right: var(--size-sm);
	z-index: 9999;

	color: var(--color);
	box-shadow: var(--level-3);
	background-color: var(--color-background-surface);

	border: 2px solid var(--color-background-surface);
	border-radius: var(--radius-full);

	font-size: 4rem;
	line-height: 1em;
	padding: 0.25em;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.4s var(--transition);

	&:hover {
		--color: var(--color-blue-text);
		border-color: var(--color);
		box-shadow: var(--level-1);
	}
}
