.container {
	display: flex;
	flex-direction: column;
}

.header {
	padding: var(--space-small) 0;
}

.title {
	font-size: var(--font-size-medium);
	color: var(--fg);
	line-height: 1em;
}

ul.list {
	--space: calc(var(--space-small) / 2);
	--space-offset: calc(var(--space-small) * -1);
	display: flex;
	flex-direction: row;
	align-items: center;
	//gap: var(--space-small);
	flex-wrap: wrap;
	margin-left: var(--space-offset);
	margin-right: var(--space-offset);
	margin: 0;

	li.item {
		padding: var(--space);
		list-style: none;
		margin: 0;
		p {
			margin: 0;
			font-size: var(--font-size-tiny);
		}
	}
}
