.link,
.label,
.icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

button.link {
	background-color: rgb(50 65 85 / 0.08);
	border-bottom: 1px solid rgb(50 65 85 / 0.12);
}

.link {
	width: auto;
	height: 100%;
	min-height: 5.6rem;
	min-width: 100%;
	border: none;
	cursor: pointer;

	padding: var(--size-reg) var(--size-reg);
	padding: 1em 1.2em;

	@media screen and (max-width: 960px) {
		justify-content: flex-start;
	}

	&.active,
	&:hover {
		.label,
		.icon {
			opacity: 1;
		}
	}

	&.active {
		.label,
		.icon {
			color: var(--theme-text);
		}
	}

	&:hover {
		.label,
		.icon {
			color: var(--color-primary-text);
		}
	}
}

.label,
.icon {
	font-size: var(--font-size-reg);
	font-weight: var(--font-medium);
	line-height: 1.5em;
	color: var(--color-foreground-detail);
	opacity: 0.8;
	text-transform: capitalize;

	&.withIcon {
		margin-left: 0.5em;
	}
	@media screen and (min-width: 960px) {
		&.withIcon {
			display: none;
		}
	}

	svg {
		font-size: 1.15em;
		line-height: 1em;
	}
}
