.list {
	display: grid;
	grid-template-columns: repeat(4, 25%);

	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: var(--space-medium) calc(var(--layout-gutter) - 8px);

	@media screen and (max-width: 1100px) {
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, auto);
	}

	@media screen and (max-width: 960px) {
		padding: var(--space-small);
	}

	@media screen and (max-width: 615px) {
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, auto);
	}
}

.listItem {
	padding: 8px;
}
