.container {
	width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	//gap: var(--size-reg);
	padding: var(--size-reg);

	background-color: var(--theme-mask-background);
	transition: 0.08s box-shadow ease;
	text-decoration: none;
	transition: background-color 0.12s var(--transition);
	&:hover {
		background-color: var(--color-background-surface);
		.title,
		.subtitle {
			color: var(--theme-text);
		}
	}
}

.header {
	order: 2;
	border: 2px solid var(--theme-mask-background);
}
.articles {
	order: 1;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: var(--size-xxsm);
	li {
		width: 100%;
		height: 120px;
	}
	img {
		border-radius: var(--radius-lg);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
