.container {
	--font-size-xxxlg: 8.8rem;
	--font-size-xxlg: 5.6rem;
	--font-size-xlg: 3.2rem;
	--font-size-lg: 2.6rem;
	--font-size-reg: 2.2rem;
	--font-size-sm: 1.8rem;
	--font-size-xsm: 1.2rem;

	// display: flex;
	// flex-direction: column;
	// align-items: flex-start;
	// justify-content: flex-start;
	// gap: var(--size-xsm);
	& > *:not(:last-child) {
		margin-bottom: var(--size-reg);
	}

	max-width: var(--size-maxcontent);
	margin: 0 auto;

	h1 {
		font-size: var(--font-size-xxlg);
		font-weight: var(--font-bold);
	}

	h2 {
		font-size: var(--font-size-xlg);
		font-weight: var(--font-bold);
	}

	h3 {
		font-size: var(--font-size-xlg);
		font-weight: var(--font-reg);
	}

	h4 {
		font-size: var(--font-size-lg);
		font-weight: var(--font-bold);
	}

	h5 {
		font-size: var(--font-size-lg);
		font-weight: var(--font-medium);
	}

	h6 {
		font-size: var(--font-size-sm);
		font-weight: var(--font-bold);
		text-transform: uppercase;
		letter-spacing: 0.08em;
	}

	p {
		font-size: var(--font-size-reg);
		margin-top: var(--size-sm);
		margin-bottom: var(--size-sm);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		line-height: 1.5em;
	}

	a {
		color: var(--color-primary-text);
		font-weight: var(--font-normal);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: var(--color-primary-mask-foreground);
			background-color: var(--color-primary-mask-background);
		}
	}

	ul,
	ul li {
		list-style: disc;
	}
	ol,
	ol li {
		list-style: decimal;
	}
	ol,
	ul {
		li {
			list-style-position: inside;
			margin: var(--size-sm) 0;
			line-height: 1.75em;
			&::marker {
				color: var(--theme-text);
				font-size: 1.1em;
				margin-right: var(--size-reg);
				font-weight: var(--font-medium);
			}
		}
	}

	mark {
		//color: var(--theme-mask-foreground);
		//background-color: var(--theme-mask-background);
	}
}
