.container {
	background-color: var(--color-background-base);
	border-radius: var(--radius-reg);
	overflow: hidden;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: var(--size-reg);
	padding: var(--size-reg);

	background-color: var(--theme-mask-background);
	transition: 0.08s box-shadow ease;
	text-decoration: none;
	transition: background-color 0.12s var(--transition);
	.title,
	.subtitle {
		margin: 0;
		width: 100%;
		color: var(--theme-mask-foreground);
		transition: color 0.12s var(--transition);
	}
	.title {
		font-size: var(--font-size-lg);
		font-weight: var(--font-medium);
	}
	.subtitle {
		opacity: 0.8;
	}
	&:hover {
		background-color: var(--color-background-surface);
		.title,
		.subtitle {
			color: var(--theme-text);
		}
	}
}

.header {
	order: 2;
	display: flex;
	flex-direction: column;
	gap: var(--size-xsm);
}
.articles {
	order: 1;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: var(--size-xxsm);
	li {
		width: 100%;
		height: auto;
	}
	img {
		border-radius: var(--radius-lg);
		width: 100%;
		height: auto;
	}
}
