.container {
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;

	min-width: 5.6rem;
	min-height: 5.6rem;

	padding: var(--size-xsm);

	border-radius: 30%;
	box-shadow: var(--level-2);

	outline: none;
	border-width: 0;
	font-size: 2.4rem;
	cursor: pointer;

	position: relative;
	z-index: 9000;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: center;
	justify-self: end;

	transition: transform 0.24s var(--transition);

	align-self: center;

	&.open {
		background-color: var(--color-blue-base);
		color: white;
		&:hover {
			background-color: var(--color-blue-text);
		}
	}
	&.closed {
		background-color: var(--color-background-surface);
		color: var(--theme-base);
		&:hover {
			color: var(--color-primary-text);
		}
	}

	@media screen and (max-width: 960px) {
		display: flex;
	}
}
