.wrapper {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-self: center;
}
.button {
	font-size: var(--font-size-sm);
	font-weight: var(--font-medium);
	line-height: 1em;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	padding: var(--size-sm) var(--size-reg);
	margin: var(--size-lg) auto;

	background-color: var(--color-blue-base);
	color: var(--color-background-surface);

	border-radius: 100rem;
	cursor: pointer;

	outline: none;
	border: none;

	&:hover {
		background-color: var(--color-yellow-base);
		color: var(--color-foreground-title);
	}

	&.loading {
		background-color: var(--color-background-base);
		color: var(--color-blue-text);
	}
}
